* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
    color: white;
}

body {
   background-color: #121212;
  
}

:root{
    --bord: 1px solid #262626;
    --raduis:12px;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background: transparent; 
}

.navlogo {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
}

.navlogo .logo {
    width: 40px;
    height: auto;
}

.navlogo .play {
    width: 10px;
    position: absolute;
    left: 17px;
    top: 16px;
    height: auto;
}

.navlogo .logo-name {
    width: 120px;
    height: auto;
}

.navlist {
    background-color: #0F0F0F;
    padding: 10px 20px;
    border-radius: 15px;
    border: #1F1F1F solid 4px;
}
.navlist .nav-link {
    color: #BFBFBF;
    padding: 10px 10px; 
    border-radius: 10px; 
    transition: 0.3s ease-in-out, color 0.3s ease-in-out;
}

.navlist .nav-link:hover,
.navlist .nav-link.active { 
    background-color: #1A1A1A; 
    color: #ffffff; 
}

.navlist ul {
    display: flex;
    gap: 20px;
}

.icon-nav {
    color: #FFFFFF;
    font-size: 20px;
    cursor: pointer;
    transition: color 0.3s;
}
@media (max-width: 992px) {
    .icon-nav{
        display: none;
    }
}

.icon-nav:hover {
    color: #bfbfbf;
}
.navbar-nav {
    margin: 10px 0px;
}



.back-ground-head {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px 0;
    position: relative;
    width: 100%;
    top: -20px;
    left: 0;
    z-index: 1000;
}

.navbar .nav-link {
    color: white;
    font-size: 18px;
    transition: color 0.3s ease;
}

.navbar .nav-link:hover {
    color: red;
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 800px;
    color: white;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), #141414), url('../img/SubContainer.png');
    background-size: cover;
    background-position: center;
    padding: 20px;
    position: relative;
}

.herodes {
    position: absolute;
    bottom: 10px;
    left: 310px;
}

.herodes h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.herodes p {
    font-size: 15px;
    max-width: 870px;
    line-height: 1.6;
    margin: 10px 0;
    color: #999999;
}



.btn1 {
    background-color: red;
    color: white;
    padding: 12px 25px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn1:hover {
    background-color: darkred;
}


.button{
    text-align: center;
    align-items: center;
    color: #fff;
    margin: 30px 0px;
    padding: 20px 20px ;
    border-radius: 8px;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    
}

.btn1:hover{
background-color: #ffffff;
color: #262626;
}
/* .btn1 {
   text-align: center;
   align-items: center;
   margin-bottom: 30px;
   padding: 20px 20px ;
   border-radius: 8px;
   text-decoration: none;
   font-size: 20px;
   color: #fff;
   background-color: #E50000;
   transition:0.8s ;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   -ms-border-radius: 8px;
   -o-border-radius: 8px;
} */
.movies-card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: space-evenly; /
}
.movie-container-header-title {
    width: 800px;
    color: #999999;
}

.movies-card {
    background-color: #1A1A1A;
    border: var(--bord);
    width: 195px;
    padding: 20px;
    border-radius: var(--raduis);
    position: relative;
}

.movies-card-body {
    text-align: center;
    overflow: hidden;
}

img {
    height: 100px;
    margin: 10px 0;
    border-radius: 10px;
}

.movies-img-a {
    display: flex;
    justify-content: space-evenly;
    gap: 5px;
}

.movies-img-b {
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
    display: flex;
    justify-content: space-evenly;
    gap: 5px;
}

.movies-card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
}

.movies-card-footer h2 {
    font-size: 18px;
}

.movie-container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    p{
        color: #999999;
        width: 800px;
    }
}

.movie-container-header h2 {
    color: #FFFFFF;
}

.button-footer-a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 10px;
    padding: 10px;
    background-color: #0F0F0F;
    border-radius: var(--raduis);
    border: var(--bord);
}

.btn-minus {
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #333333;
    font-size: small;
}

.minus-a {
    color: #E50000;
    width: 10px;
}

.btn:hover {
    background-color: #E50000;
}

.btn-a {
    background-color: #333333;
    border-radius: 8px;
    text-align: center;
    padding: 5px 10px;
    transition: 0.3s;
}

.btn-a:hover {
    background-color: #E50000;
}

.movies-card-title-a p {
    font-size: 11px;
}

.movies-card-title-a span i {
    font-size: 10px;
    color: #E50000;
}
.btn{
    border: none;
}
i.fa-solid.fa-arrow-right {
    color: white;
}

.style1{
 margin-top: 100px;
 margin-left: 100px;
}
.sh2{
    color: #ffffff;
}
.sp{
    color: rgba(211, 214, 218, 0.829);
}
/*
.cards1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    /* margin-left: 5%;
    margin-top: 2%; */


/* 
.card1{
    width: 280px;
    height: 282px;
    border-radius: 10px;
    border-width: 1px;
    padding: 20px;
    background: #1A1A1A;
    border: 1px solid #262626;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}



.testdiv{
    height: 90%;

}

.img-card{
    height: 100%;
    width: 100%;
    border-radius: 15px;
    /* -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
}
    -o-border-radius: 15px; */
 


/* .style1{
    /* width: 1240px;
    height: 98px;
    gap: 14px; */
    /* background-color: blue; */
    




/* .title{
width: 205.39996337890625px;
height: 27px;
color: #FFFFFF;
font-family: Manrope;
font-weight: 600;
font-size: 18px;
line-height: 150%;
letter-spacing: 0%;

} */

.container_home2{
    max-width: 100%;
    margin: 70px 0px;
    display: flex;
    align-items: center;

    img{
        width: 50px;
        height: auto;
        object-fit: cover;
        margin-right:20px ;
    }
    .movie-container-header-title {
        width: 990px;
        color: #999999;
    }
}


.cards2{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin-top: 20px;
}


.card2{
    width: 331px;
    border-radius: 12px;
    border: var(--bord);
    padding: 30px;
    background: linear-gradient(221.52deg, rgba(229, 0, 0, 0.5) -208.03%, rgba(229, 0, 0, 0) 41.32%), #0F0F0F;                
                h4{
                    color: white;
                    font-size: medium;
                }
                P{
                    color: #999999;
                    font-size: small;
                }
}

.card2-header{
    display: flex;
    gap: 3px;
    align-items: center;
}

.btn2{
    width: 176px;
    height: 63px;
    gap: 10px;
    border-radius: 8px;
    padding-top: 18px;
    padding-right: 24px;
    padding-bottom: 18px;
    padding-left: 24px;
    text-decoration: none;
    background: rgba(229, 0, 0, 1);
    color:rgba(255, 255, 255, 1);
    font-weight: 600;
    font-size: 18px;

    /* transform: translateY(-100px);
    -webkit-transform: translateY(-100px);
    -moz-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    -o-transform: translateY(-100px); */
}

/* .cards3{


   display: flex;
   justify-content: center;
   align-items: center;

} */

#button{
    color: white;
    background-color: rgba(229, 0, 0, 1);
}
.number-contant{
    color: rgba(153, 153, 153, 1);
}
.Ask h3{
    font-weight: 500;
}
.Ques{
    border-bottom-width: 2px  ;
    border-bottom-style: solid;
    border-image: 
    linear-gradient(to right,  rgba(229, 0, 0, 0),rgba(229, 0, 0, 1) ,rgba(229, 0, 0, 0)) 100% 1 100%;
}
.Ask-contant p{
    color: rgba(153, 153, 153, 1);
    width: 90%  ;
}


.subscription-title-head{
    margin: 20px 0px;
    width: 70%;
    h2{
        color: #FFFFFF;
    }
    p{
        color: #999999;
        font-size: 15px;
    }
}
.data-header{
    background-color: #0F0F0F;
    text-align: center;
    border-radius: var(--raduis);
    padding: 10px 10px;
    font-size: 13px;
    p {
        padding: 15px 15px;
        color: #ffffff;
        margin: auto;
    }
    .data-header-p{
        background-color: #1F1F1F;
        border-radius: var(--raduis);
    }
}

.subscription-card{
    background-color: #1A1A1A;
    border: var(--bord);
    padding: 50px ;
    width: 415px;
    border-radius: var(--raduis);
    .subscription-card-header{
        margin: 30px 0px;
        h2{
            color: #ffffff;
            font-size: 20px;
        }
        p{
            color: #999999;
            font-size: 15px;
        }
    }
    .subscription-card-body{
        margin: 10px 0px;
        h5 {
            color: white;
            font-size: 30px;
        }
        span{
            color: #999999;
            display: flex;
            align-self: flex-end;
            margin-bottom: 10px;
        }
    }
    .btn{
        border: none;
        padding: 15px 20px;
        border-radius: var(--raduis);
    }
    .subscription-button-a {
        background-color: #141414;
        border: var(--bord);
    }
    .subscription-button-b{
         background-color: #E50000;    
} 
}


.card3{
display: flex;
flex-wrap: wrap;
gap: 20px;
padding: 34px;
border: 1px solid;
border-image-source: linear-gradient(90deg, rgba(229, 0, 0, 0) 0%, #E50000 16.67%, rgba(229, 0, 0, 0) 100%);
img{
    width: 50px;
    height: auto;
}

}
.num{
    width: 62px;
height: 67px;
gap: 10px;
border-radius: 10px;
border-width: 1px;
padding: 20px;
background: #1F1F1F;
border: 1px solid #262626;
color:#FFFFFF;
}

.par_edit{
    width: 390px;
}

.container_home4{
    width: 1596px;
height: 603px;
top: 3797px;
left: 162px;
gap: 80px;
margin-top: 5%;

}
.style4{
    /* width: 1596px;
height: 98px;
gap: 100px; */
margin-left: -7%;
display: flex;
justify-content: center;
align-items: center;
}


.cards4{
    /* width: 1596px;
height: 425px;
gap: 30px; */
display: flex;
justify-content: center;
align-items: center;
margin-top: 3%;
margin-left: 16%;

}
.card4{
    background: rgba(26, 26, 26, 1);
    width: 512;
height: 425;
gap: 50px;
border-radius: 12px;
border-width: 1px;
padding: 50px ;

margin: 1%;
}
.btn4{width: 210px;
    height: 63px;
    gap: 10px;
    border-radius: 8px;
    border-width: 1px;
    padding-top: 18px;
    padding-right: 24px;
    padding-bottom: 18px;
    padding-left: 24px;
    background: rgba(20, 20, 20, 1);
    border: 1px solid rgba(38, 38, 38, 1);
    color:#ffffff;
    text-decoration: none;

    }

.btn5{
    width: 210px;
height: 63px;
gap: 10px;
border-radius: 8px;
padding-top: 18px;
padding-right: 24px;
padding-bottom: 18px;
padding-left: 24px;
background: rgba(229, 0, 0, 1);
color:#ffffff;
text-decoration: none;
}

.btns{
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.money_month{
    display: flex;
    justify-content: center;
    align-items: center;

width: 193px;
height: 29px;
gap: 0.1px;
padding: 60px  0px;
}
.money{
    transform: translateY(-10px);
    width: 127px;
    height: 29px;
    font-family: Manrope;
    font-weight: 600px;
    font-size: 30px;
    line-height: 73%;
    letter-spacing: 0%;
    color: #FFFFFF;
}
.marginn{
    transform: translateX(-35px);
    -webkit-transform: translateX(-35px);
    -moz-transform: translateX(-35px);
    -ms-transform: translateX(-35px);
    -o-transform: translateX(-35px);
}
.nested{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 237;
height: 75;
border-radius: 10px;
border-width: 1px;
padding: 10px;
background: rgba(15, 15, 15, 1);
border: 1px solid rgba(38, 38, 38, 1);
color: rgba(255, 255, 255, 1);
gap: 20;
padding-right: 20px;
margin-left: 50px;
}
.monthly{
    background-color: rgba(31, 31, 31, 1);
    width: 118;
height: 55;
gap: 10px;
border-radius: 10px;
padding-top: 14px;
padding-right: 24px;
padding-bottom: 14px;
padding-left: 24px;
margin-right: 15px;

}


@media (max-width: 992px) {
    .icon-nav{
        display: none;
    }
}

.icon-nav:hover {
    color: #bfbfbf;
}
.navbar-nav {
    margin: 10px 0px;
}
.background-footer{
    background-image: url(../img/Background\ Images.png);
    background-size: cover;
    height: 225px;
    object-fit: cover;
    margin: 30px 0px ;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: var(--raduis);
    border: var(--bord);
    .background-footer-info{
        h2{
            color: white;
        }
        p{
            color: #999999;
        }
    }
    .btn-danger{
        background-color: #E50000;
        padding: 15px 25px; 
    }
}
.footer-container{
    padding: 60px 0px;
    background-color: #0F0F0F;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    flex-wrap: wrap;
    gap: 25px;
    h2{
        padding-bottom:20px ;
        color: #FFFFFF;
        font-size: 20px;
    }
    p{
        font-family: "Manrope", sans-serif;
        color: #999999;
    }
    .footer-icon{
        display: flex;
        gap: 10px;
        img{
            width: 40px;
        }
    }
}






@media (max-width:768px) {
    .container{
        margin: 0;
    }
    .none{
        display: none;
    }
    /* landpage responivse */
    .land-info{
        position: absolute;
        left: 10px;
        p{
            display: none;
        }
        .land-info-footer{
            flex-direction: column;
            .btn{
                padding: 15px 135px;
            }
        }
    }
    /* season responsive */
    .season-body-2{
        .movie-container {
            flex-direction: column;
            align-items: flex-start;
            h2{
                color: #999999;
            }
        }
    
        .movie-card {
            flex-direction: column;
            align-items: center;
            width: 100%;
        }
    
        .movie-card-img img {
            width: 210px;
        }
    
        .movie-card-info {
            text-align: center;
        }
        .none{
            display: none;
        }
    
        .movie-card-head {
            flex-direction: column;
            align-items: center;
            width: auto;
            text-align: center;
            gap: 10px;
        }
    }
    
    /* actor-responsive */
    .img--{
        img{
            width: 60px;
            height: 6   0px;
        }
    }
    .cast-img{
        display: none;
    }
    .discription {
        p{
            font-size: 14px;
        }
    }
    .background-footer{
        background-position: 840px;
        flex-direction: column;
        text-align: center;
        height:370px ;
        .background-footer-info{
            width: 300px;
            height: 100px;
            
        }
    }
}

.card-text-section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.all-cards div{
    /* background-color: red; */
}